<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <description>User servlet</description>
    <display-name>User servlet</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>servlet.AddUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ListUserServlet</servlet-name>
        <servlet-class>servlet.ListUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ListUserServlet</servlet-name>
        <url-pattern>/listUser</url-pattern>
    </servlet-mapping>
</web-app>